<h2>{{ isEditing ? 'Edit' : 'Create' }} Employee</h2>

<div *ngIf="errorMessage" !="">
    {{errorMessage}}
</div>

<form (ngSubmit)="submitForm()"> 
    <div>
        <label for="firstName">First Name:</label>
        <input type="text" [(ngModel)]="employee.firstName" name="firstName" />
    </div>
    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" [(ngModel)]="employee.lastName" name="lastName" />
    </div>
    <div>
        <label for="phone">Phone:</label>
        <input type="text" [(ngModel)]="employee.phoneNumber" name="phone" />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" [(ngModel)]="employee.email" name="email" />
    </div>
    <div>
        <label for="position">Position:</label>
        <select [(ngModel)]="employee.position" name="position">
            <option value="Manager">Manager</option>
            <option value="Developer">Developer</option>
            <option value="Designer">Designer</option>
        </select>
    </div>
    <button type="submit">{{ isEditing ? 'Edit' : 'Create' }}</button>
</form>
